[user]
  name = Jasper van Merle
  email = jaspervmerle@gmail.com
[hub]
  protocol = https
[alias]
  co = checkout
  st = status
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
  excludesFile = ~/.gitignore-global
  editor = code --wait
  pager = diff-so-fancy | less --tabs=4 -RFX
[credential]
  helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
[apply]
  whitespace = nowarn
[mergetool]
  keepBackup = false
[difftool]
  prompt = false
[help]
  autoCorrect = 0
[push]
  default = simple
[color "diff"]
  meta = 11
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[submodule]
  recurse = true
