[user]
  name = Jasper van Merle
  email = jaspervmerle@gmail.com
  signingkey = ~/.ssh/id_ed25519.pub
[alias]
  co = checkout
  st = status
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
  excludesFile = ~/.gitignore-global
  editor = code --wait --new-window
  pager = diff-so-fancy | less --tabs=4 -RF
[apply]
  whitespace = nowarn
[mergetool]
  keepBackup = false
[difftool]
  prompt = false
[help]
  autoCorrect = 0
[color "diff"]
  meta = 11
  frag = magenta bold
  func = 146 bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[submodule]
  recurse = true
[init]
  defaultBranch = master
[interactive]
  diffFilter = diff-so-fancy --patch
[gpg]
  format = ssh
[commit]
  gpgsign = true
